@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@theme {
  --font-Sara: "Doppio One", sans-serif;
}

.css{
  background-image:url('./assets/bg-min.png');
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
}